/*
  Indice Estilos:
  
    - Geral:
    - Header:
    - Form:
    - Tab table:
*/

/*Geral*/
*{
  color: #666;
}

.row{
  padding: 1%;
}

.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right{
  float: right;
}

.left{
  float: left;
}
/*Geral*/

/*Header*/
header{
  border-bottom: 1px solid #666; 
}
/*Header*/

/*Form*/
form input{
  font-weight: 600;
}
form label{
  text-transform: uppercase;
}
.btn-group{
  width: 100%;
}
.btn-cliente{
  text-transform: none;
  font-weight: 600;
  width: 50%;
  background: #fff;
  color: #333;
  border:2px solid #333;
}
.btn-cliente.active{
  background: #333;
  color: #fff;
}
.btn-finalizar{
  color: #fff;
  font-weight: 600;
}
.btn-finalizar i{
  color: #fff;
}
/*Form*/

/*Tab table*/

/*Tabs*/
.tab-pane{
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-item{
  color: #666;
}
#nav-contact-tab i{
  color: #17a2b8;
}
#nav-place-tab i{
  color: #0062cc;
}
#nav-value-tab i{
  color: #1e7e34;
}
#nav-contact-tab.active i, #nav-place-tab.active i, #nav-value-tab.active i{
  color: #666;
}
/*Tabs*/

/*Table*/
button{
  border:none;
  background: none;
  font-size: 22px;
}

td .fa-check{
  color: #1e7e34;
}

td .fa-check:hover{
  color: #218838;
  cursor: pointer;
}

td .fa-trash-alt{
  color: #dc3545;
}

td .fa-trash-alt:hover{
  color: #c82333;
  cursor: pointer;
}

.addnewrow{
  color: #fff !important;
  font-weight: 600;
}
/*Table*/

/*Tab table*/